<div class="plant-listing">
  <img class="plant-avatar" src={{imageUrl}}>
  <p class="plant-name">{{name}}</p>
  <p class="plant-description">{{description}}	</p>
</div>
<div class="plant-listing">
  <img class="plant-avatar" src={{imageUrl}}>
  <p class="plant-name">{{name}}</p>
  <p class="plant-description">{{description}}	</p>
</div>
<div class="plant-listing">
  <img class="plant-avatar" src={{imageUrl}}>
  <p class="plant-name">{{name}}</p>
  <p class="plant-description">{{description}}	</p>
</div>
