<div id="divWeatherMain">
  <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
    <i class="fa-solid fa-3x fa-sun sun"></i>
  </div>
  <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
    <i class="fa-solid fa-3x fa-moon moon"></i>
  </div>
  <div class="weatherWidgetRow cloudDiv">
    <i class="fa-solid fa-3x fa-cloud cloud"></i>
  </div>
  <div id="weatherWidgetRows">
    <div class="weatherWidgetRowOne">{{ WeatherData.temp }}°</div>
    <div class="weatherWidgetRowTwo">
      {{ WeatherData.temp_min }}° / {{ WeatherData.temp_max }}°
    </div>
    <div class="weatherWidgetRowThree">
      Feels Like: {{ WeatherData.temp_feels_like }}°
    </div>
    <div class="weatherWidgetRowFour">{{ WeatherData.name }}</div>
    <div class="weatherWidgetRowFive">
      Humidity: {{ WeatherData.main.humidity }}%
    </div>
  </div>
</div>
