<div class="navbar">
  <ul>
    <li class="list-item">
      <b class="left-curve"></b>
      <b class="right-curve"></b>
      <a routerLink="/dashboard">
        <i class="fa-solid fa-leaf"></i>
        Home
      </a>
    </li>
    <li class="list-item">
      <b class="left-curve"></b>
      <b class="right-curve"></b>
      <a routerLink="/mygarden">
        <i class="fa-solid fa-worm"></i>
        My Garden
      </a >
    </li>
    <li class="list-item">
      <b class="left-curve"></b>
      <b class="right-curve"></b>
      <a routerLink="/plants">
        <i class="fa-solid fa-seedling"></i>
        Add New Plant
      </a>
    </li>
    <li class="list-item active">
      <b class="left-curve"></b>
      <b class="right-curve"></b>
      <a routerLink="/editplants">
        <i class="fa-solid fa-receipt"></i>
        Edit Plants
      </a>
    </li>
  </ul>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
